.portfolio{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    h1{
        font-size: 50px;
    }
    p{
        font-size: 20px;
        padding: 20px;
        width: 60%;
        text-align: center;
    }

    .container{
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        a{
            text-decoration: none;
        }

        .card{
            width: 350px;
            height: 300px;
            margin: 10px 20px;
            background-color: #fff;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            color: white;
            position: relative;
            transition: all 1s ease;
            cursor: pointer;
            border: none;


            img{
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .text{
                text-align: left;
                font-size: 20px;
                padding: 20px 10px;
                color: black;
            }

            // &:hover{
            //     background-color: #15143e;
            //     img{opacity: 0.2;
            //         z-index: 0;
            //     }
            // }
        
        } 
    } 
    
    .wrapper{
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;

        .project{
            width: 100%;
            border: none;
            

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    
    
}