.featured-section {
  padding: 60px 20px;
  background: #fff;

  .featured-title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;

    span{
      color: #ff7846;
    }
  }



  .featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
  }

  .project-card {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    &:hover {
      .project-img {
        transform: scale(1.05);
      }
    }

    .project-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        transparent
      );
    }

    .project-info {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: white;
      max-width: 80%;

      h3 {
        font-size: 22px;
        font-weight: 600;
      }

      .tags {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .tag {
          background: rgba(255, 255, 255, 0.2);
          padding: 6px 14px;
          border-radius: 20px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          font-size: 13px;
        }
      }
    }

    .icon-btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background: white;
      color: #1d4ed8;
      padding: 12px;
      border-radius: 50%;
      font-size: 18px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
