.skills {
  text-align: center;
  padding: 80px 20px;
  background:  #141427;
  color: #fff;
}


.skills .header{
   max-width: 600px;
   margin: 0 auto 3rem;
}

.header h2{
      font-size: 30px;

}
.skills-title {
  font-size: 30px;
  padding: 15px 0;
  position: relative;
}

.skills-title span {
  color: #ff7846;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  justify-content: center;
}

.skills-card {
  background: #161443;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.skills-card:hover {
  background: #282672;
  transform: translateY(-5px);
}

.skills-card .icon {
  font-size: 2rem;
  color: #ff7846;
  margin-bottom: 15px;
}

.skills-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.skills-card p {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.6;
}



@media screen and (max-width:992px){
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    justify-content: center;
  }
}