.skills {
  text-align: center;
  padding: 80px 20px;
  background:  #15143e;
  color: #fff;
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 50px;
  position: relative;
}

.skills-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #ff7846;
  margin: 10px auto 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  justify-content: center;
}

.skills-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.skills-card:hover {
  background: rgba(0, 188, 212, 0.1);
  transform: translateY(-5px);
}

.skills-card .icon {
  font-size: 2rem;
  color: #ff7846;
  margin-bottom: 15px;
}

.skills-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.skills-card p {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.6;
}



@media screen and (max-width:992px){
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    justify-content: center;
  }
}