.about{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;

.container{
    display: flex;
    align-items: center;

    img{
        width: 50%;
    }

    .about-text{
        padding: 0 50px;
        h2{
            font-size: 30px;
            color: #141427;

            span{
                color: #ff7846;
            }
        }
        

        .summary{
            padding: 10px 30px 10px 0;
        }

        .about-details{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
            

            p{
                padding: 20px 0px;
                font-weight: bold;

                span{
                    font-weight: normal;
                }
            }
        }
    }
}

   
}


@media screen and (max-width: 992px){
     .about .container {
    
        flex-direction: column-reverse;
        .about-text{
            h2{
                font-size: 35px;
            }

            .summary {
                padding: 10px 0px 10px 0;
                font-size: 20px;
            }

            .about-details p{
                font-size: 18px;
            }
        }


    }

    .about .container .about-text{
        padding: 10px;
    } 
    
    .about .container img{
        width: 100%;
    }   
}

@media screen and (max-width: 810px){
    .about .container .about-text{
        padding: 10px;
    } 
    
    .about .container img{
        width: 100%;
    }   
}


@media  screen and (max-width:768px) {
    .about .container {
    
        flex-direction: column-reverse;
        .about-text{
            h2{
                font-size: 25px;
            }

            .summary {
                padding: 10px 0px 10px 0;
            }
        }
    }
}


@media(max-width:600px){
    .about .container {
    
        flex-direction: column-reverse;
        .about-text{
            h2{
                font-size: 25px;
            }

            .summary {
                padding: 10px 0px 10px 0;
            }
        }
    }

    
}