.about{
    padding-top: 20px;

.container{
    display: flex;
    align-items: center;

    img{
        width: 50%;
    }

    .about-text{
        padding: 0 50px;
        h2{
            font-size: 50px;
        }
        
        .role{
            font-size: 20px;
            font-weight: bold;
        }

        .summary{
            padding: 10px 30px 10px 0;
        }

        .about-details{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
            

            p{
                padding: 20px 0px;
                font-weight: bold;

                span{
                    font-weight: normal;
                }

                .email{
                    color: red;
                }
            }
        }
    }
}

   
}
