.skills-section {
  background: #f4f4f5;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;

  .skills-header {
    max-width: 600px;
    margin: 0 auto 3rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: #141427;

      span {
        color: #ff7846;
      }
    }

    p {
      margin-top: 1rem;
      color: #000000;
      font-size: 0.95rem;
      line-height: 1.6;
    }
  }


    .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }

  .skill-card {
    background: #141427;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 0 10px rgba(255, 120, 70, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-6px);
    }

    .icon {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #ff7846;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .progress-bar {
      width: 100%;
      height: 10px;
      background: #2c2c3e;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 0.6rem;

      .progress-fill {
        height: 100%;
        background: #ff7846;
        border-radius: 5px;
        transition: width 1.5s ease-in-out;
      }
    }

    .percent-label {
      font-size: 0.9rem;
      color: #ff7846;
      font-weight: 600;
    }
  }
 }
