.profile-container{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    min-height: fit-content;
    background-color: #15143E;
}

.profile-container .profile-parent .profile-details .colz .colz-icon a{
        color: #ff7846;
        padding: 0 10px 20px 0;
}




.profile-parent{
    display: flex;
    align-items: center;
}

.profile-details-name{
    color: #fff;
}

.profile-details-name .primary-text{
    font-size: 25px;
}


.profile-details {
  text-align: center;   /* Centers all text inside this column */
}

.profile-details-name p {
  margin: 10px auto;     /* Centers paragraph block */
  max-width: 600px;      /* Keeps text neat */
  line-height: 1.6;      
}


.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 5px 0 4px 0;
    color: #ff7846;
}


.profile-role-tagline{
    font-size: 0px;
    color: #fff;
}

.profile-options button{
    color: #15143E;
    background-color: #fff;
    margin:0px 10px;
    width:9vw;
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px #fff;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 120px;
}

.profile-picture-bg{
    height: 92%;
    width: 92%;
    background-image: url("../../assets/profile.jpg");
    background-size: cover;
    border-radius: 50% ;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-bg:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}

/* .wave{
    position: absolute;
    bottom:-100px;
    left: 0;
} */



@media screen and (max-width: 1110px){
    .profile-picture{
        margin: 0 0 0 80px;
    }

    .profile-details-name{
        font-size: 20px;
    }

    .profile-details-role .primary-text{
        font-size: 12px;
    }

    .profile-options button{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
    
}

@media screen and (max-width: 992px){
    .profile-container{
        height: 100vh;
    }

    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}

@media screen and (max-width: 810px){
    .profile-picture{
        margin: 0 !important;
    }

    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .profile-options{
        display: flex;
        justify-content: space-evenly;
    }

    .profile-options button{
        z-index: 0;
    }
    .profile-details{
        margin: 70px 0 40px 0;
    }

    .profile-details-name, .profile-details-role{
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .profile-picture{
        height: 500px;
        width: 500px;
    }

    .profile-options{
        display: flex;
        justify-content: center;
    }

   
}


@media screen and (max-width: 375px){
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }

    .profile-details{
        width: 90%;
    }
}