.contact{
    text-align: center;
    padding: 40px 20px;
}

.contact h4{
    font-size: 20px;
    padding: 20px;
} 

.contact a{
    color: #ff7846;
    padding: 10px;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .contact h4{
        font-size: 28px;
    } 

    .contact a{
        font-size: 26px;
    }
    
}

@media screen and (max-width:992px){
    .contact h4{
        font-size: 30px;
 
    }
}