.footer .footer-inner{
    /* background-image: url("../../img/Group\ 1.png"); */
    background-color: #15143e;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    padding: 80px 0;
    color: #ffffff;
    width: 100%;
}

.infor{
    width: 100%;
}

.infor h4{
    font-size: 25px;
}

.infor h3{
    color: #ffffff;
    font-size: 35px;

}

.infor p{
    color: #ffffff;
    padding: 10px 120px;
}

.infor span{
    padding: 20px 10px;
}


.footer .infor .icons a{
    color: #ff7846;
}

.explore h4{
    font-size: 25px;
}

.explore ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    
}

.explore ul li{
    margin: 15px 0;
}

.infor .contact{
    display: flex;
    flex-direction: column;
    padding: 20px ;
  
}

.contact span{
    padding: 8px  0;
}

.footer .copyright{
    text-align: center;
    padding: 20px 0;
    background-color: #0f0e2e;
    color: #ffffff;
}

.footer .copyright p span{
    color: #ff7846;
}

@media screen and (max-width:768px) {
    .footer{
        flex-direction: column;
        padding: 20px 0;
    } 
    
    .footer .infor{
        padding-bottom: 20px;
    }
    
    .footer .infor h3{
        font-size: 30px;
    }
    .footer .infor p{
        padding: 25px;
    }

    .footer .explore h4{
        font-size: 22px;
    }

    .footer .explore{
        padding-bottom: 20px
    }

    .footer .explore ul li a{
        font-size: 20px;
    }
}

@media screen and (max-width:992px) {
    .infor p{
        padding: 20px;
    }
}